[user]
	name = rasta-rocket
	email = bruno.fernandos@yahoo.com
[core]
	editor = vim
[gitreview]
	username = bfernando		
[credential]
	helper = cache --timeout=3600
[alias]
	slog = log --pretty=format:'%Cgreen%h%Creset -- %cd -- message: %s'
[push]
	default = simple
